.bg{
    background-image: linear-gradient(to bottom right, rgba(17, 24, 39, 0), rgba(17, 24, 39, 0)), url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}