{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>

		{% tailwind_css %}
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />

		<link
			href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
			rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<style>
			.select2-container {
				width: 100% !important;
			}
		</style>
	</head>
	<body>
		{% include 'includes/adminSidebar.html' %}

		<div class="p-4 sm:ml-64">
			<p class="text-gray-800 mt-24 font-bold text-2xl">Parents' Response</p>
			<p class="mb-4 font-semibold text-gray-500">Here's the response about parents of your students.</p>
			{% for message in messages %} {% if message.level_tag == 'success' %}
			<p class="text-left text-purple-400 font-bold mt-4 mb-4 text-md">{{message}}</p>
			{% else %}
			<p class="text-left text-red-400 font-bold mt-4 mb-4 text-md">{{message}}</p>
			{%endif%} {% endfor %}
			<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left rtl:text-right text-gray-500">
					<thead class="text-xs text-white uppercase bg-purple-700">
						<tr>
							<th
								scope="col"
								class="px-6 py-3">
								Student Name
							</th>
							<th
								scope="col"
								class="px-6 py-3">
								Student's Parent
							</th>

							<th
								scope="col"
								class="px-6 py-3">
								Action
							</th>

							<th
								scope="col"
								class="px-6 py-3">
								Attendance
								<span class="lowercase">(can mark once every day)</span>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for list in students %}
						<tr class="bg-white even:bg-purple-200">
							<td
								scope="row"
								class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
								{{list.name}}
							</td>
							<td class="px-6 py-4">{{list.parent.first_name}}</td>

							<td class="px-6 py-4">
								<a
									href="{% url 'removeStudent' list.id %}"
									class="font-medium text-xs text-red-600 hover:underline mx-2">
									<i
										class="fa fa-trash"
										aria-hidden="true"></i>
									Remove
								</a>

								<a
									data-modal-target="{{list.id}}-modal"
									data-modal-toggle="{{list.id}}-modal"
									class="font-medium text-xs text-blue-600 hover:underline mx-2">
									<i
										class="fa fa-pencil"
										aria-hidden="true"></i>
									Edit
								</a>
							</td>

							<td class="px-6 py-4">
								<a
									href="{% url 'absent' list.id list.parent.id %}"
									class="font-medium text-xs text-red-600 hover:underline mx-2">
									<i
										class="fa fa-user-times"
										aria-hidden="true"></i>
									Mark as Absent
								</a>

								<a
									href="{% url 'present' list.id list.parent.id %}"
									class="font-medium text-xs text-blue-600 hover:underline mx-2 cursor-pointer">
									<i
										class="fa fa-user-check"
										aria-hidden="true"></i>
									Mark as Present
								</a>
							</td>
						</tr>

						<!-- Main modal -->
						<div
							id="{{list.id}}-modal"
							tabindex="-1"
							aria-hidden="true"
							class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
							<div class="relative p-4 w-full max-w-md max-h-full">
								<!-- Modal content -->
								<div class="relative bg-white rounded-lg shadow">
									<!-- Modal header -->
									<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
										<h3 class="text-xl font-semibold text-gray-900">
											Edit
											<b>{{list.name}}</b>
											Info
										</h3>
										<button
											type="button"
											class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
											data-modal-hide="{{list.id}}-modal">
											<svg
												class="w-3 h-3"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 14 14">
												<path
													stroke="currentColor"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"
													d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
											</svg>
											<span class="sr-only">Close modal</span>
										</button>
									</div>
									<!-- Modal body -->
									<div class="p-4 md:p-5">
										<form
											class="space-y-4"
											action="{% url 'updateStudent' list.id %}"
											method="post">
											{% csrf_token %}
											<div>
												<label
													for="student"
													class="block mb-2 text-sm font-medium text-gray-900">
													Student Full Name
												</label>
												<input
													type="text"
													name="student"
													id="student"
													class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 placeholder-gray-400"
													placeholder="{{list.name}}"
													value="{{list.name}}"
													required />
											</div>
											<div class="my-4">
												<label
													for="parents"
													class="block mb-2 text-sm font-medium text-gray-900">
													Student's Parent
												</label>
												<select
													id="parents"
													name="parents"
													required
													class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5">
													{% for parent in parents %}
													<option value="{{parent.id}}">{{parent.first_name}}</option>
													{% endfor %}
												</select>
											</div>

											<button
												type="submit"
												name="submit"
												class="w-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
												<i
													class="fa fa-pencil"
													aria-hidden="true"></i>
												Update Student
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Main modal -->
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$("#parents").select2({
					placeholder: "Choose a parent",
					allowClear: true,
				});
			});
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
