{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		{% tailwind_css %}
	</head>
	<body>
		{% include 'includes/parentSidebar.html' %}

		<div class="p-4 sm:ml-64">
			<div class="mt-16">
				{% if user.is_authenticated %}
				<p class="text-left font-bold text-3xl text-green-900">
					<span class="text-2xl text-blue-600">Welcome</span>
					<br />
					{{user.first_name}}
					<br />
					<br />
					<span class="text-lg text-blue-600">You want to check your kid's activities?</span>
				</p>
			</div>
			{% endif %}

			<!-- component -->
			<div class="mx-auto container py-20 px-6">
				<div class="flex flex-row justify-evenly flex-wrap">
					{% for list in attendance %} {% if list.status == 'Present' %}
					<div
						class="w-96 h-64 flex flex-col justify-between bg-blue-800 border-blue-700 rounded-lg shadow-2xl shadow-blue-400 border mb-6 py-5 px-4">
						<div>
							<h3 class="text-blue-100 leading-7 font-semibold w-11/12">
								Your kid
								<b>{{list.student.name}}</b>
								is
								<b>{{list.status}}</b>
								the School at
								<b>{{list.attended_at}}</b>
							</h3>
						</div>
						<div>
							<div class="mb-3 flex items-center">
								<div
									class="border border-blue-200 rounded-full px-3 py-1 text-blue-400 text-xs flex items-center"
									aria-label="due on"
									role="contentinfo">
									<i
										class="fa fa-check"
										aria-hidden="true"></i>
									<p class="ml-2 text-blue-200">{{list.status}}</p>
								</div>
								<button
									class="p-1 bg-blue-100 rounded-full ml-2 animate-bounce text-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black"
									aria-label="save in starred items"
									role="button">
									<i class="fa-solid fa-face-laugh-beam px-1"></i>
								</button>
							</div>
							<div class="flex items-center justify-between text-white">
								<p class="text-red-800 text-sm bg-white py-1 px-40 rounded-full font-semibold">
									
								</p>
								
							</div>
						</div>
					</div>
					{% else %}
					<div
						class="w-96 h-64 flex flex-col justify-between bg-red-800 border-red-700 rounded-lg shadow-2xl shadow-red-400 border mb-6 py-5 px-4">
						<div>
							<h3 class="text-blue-100 leading-7 font-semibold w-11/12">
								Your kid
								<b>{{list.student.name}}</b>
								is {{list.status}} the School at {{list.attended_at}}
							</h3>
						</div>
						<div>
							<div class="mb-3 flex items-center">
								<div
									class="border border-red-300 rounded-full px-3 py-1 text-red-400 text-xs flex items-center"
									aria-label="due on"
									role="contentinfo">
									<i
										class="fa fa-times"
										aria-hidden="true"></i>
									<p class="ml-2 text-red-200">{{list.status}}</p>
								</div>
								<button
									class="p-1 bg-red-100 rounded-full ml-2 animate-bounce text-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black"
									aria-label="save in starred items"
									role="button">
									<i class="fa-solid fa-face-frown px-1"></i>
								</button>
							</div>
							<div class="flex items-center justify-between text-red-800">
								<p class="text-red-800 text-sm bg-white py-1 px-40 rounded-full font-semibold">
									
								</p>
								
							</div>
						</div>
					</div>
					{% endif %} {% endfor %}
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
